.Contact {
  text-align: center;
}


.nav-bar a {
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  color:white;
}

.nav-bar {
  list-style-type: none;
  color: grey;
  display: inline-block;
  position: sticky;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.nav-bar a:hover {
  background: grey;
  color: #fff;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.vertical-menu {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
}

.vertical-menu a {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  padding: 2px;
}

.vertical-menu a:hover {
  /* background-color: #000; */
  animation: bounce 0.6s;
}

body {
  font-family: helvetica;
  color: #c1c4c9;
  background-image: url(black-sand.jpg);
  -webkit-background-size:cover;
  background-size:cover;
  background-position: center;
  height: 100vh;
}

/*.Education h1 {
  color: white;
}*/
